{%extends 'base/base.html'%}

{%block title%}Página Inicial{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid">
   <div class="block-header">
    <h2>INFORMAÇÕES</h2>
    <small>Informações do sistema para o dia {{data_atual}}, <b>atualize esta página diariamente.</b></small>
  </div>
  <div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="card inicial-card">
       <div class="header">
         <h2><i class="material-icons">&#xE85D;</i>CADASTRO</h2>
         <div>
           <small>N° de itens adicionados a base de dados</small>
         </div>
       </div>
       <div class="body">
         <table class="table table-hover">
           <tbody>
            {% if perms.cadastro.view_cliente %}
            <tr>
              <td> 
                <a href="{% url 'cadastro:listaclientesview' %}">
                  <div style="height:100%;width:100%;">
                    <b>{{quantidade_cadastro.clientes}}</b> Clientes cadastrados
                  </div>
                </a>              
              </td>
            </tr>
            {% endif %}
            {% if perms.cadastro.view_fornecedor %}
            <tr>
              <td> 
                <a href="{% url 'cadastro:listafornecedoresview' %}">
                  <div style="height:100%;width:100%;">
                    <b>{{quantidade_cadastro.fornecedores}}</b> Fornecedores cadastrados
                  </div>
                </a>              
              </td>
            </tr> 
            {% endif %}
            {% if perms.cadastro.view_produto %}
            <tr>
              <td> 
                <a href="{% url 'cadastro:listaprodutosview' %}">
                  <div style="height:100%;width:100%;">
                    <b>{{quantidade_cadastro.produtos}}</b> Produtos cadastrados
                  </div>
                </a>              
              </td>
            </tr> 
            {% endif %}
            {% if perms.cadastro.view_empresa %}
            <tr>
              <td> 
                <a href="{% url 'cadastro:listaempresasview' %}">
                  <div style="height:100%;width:100%;">
                    <b>{{quantidade_cadastro.empresas}}</b> Empresas cadastradas
                  </div>
                </a>              
              </td>
            </tr> 
            {% endif %}
            {% if perms.cadastro.view_transportadora %}
            <tr>
              <td> 
                <a href="{% url 'cadastro:listatransportadorasview' %}">
                  <div style="height:100%;width:100%;">
                    <b>{{quantidade_cadastro.transportadoras}}</b> Transportadoras cadastradas
                  </div>
                </a>              
              </td>
            </tr> 
            {% endif %}
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="card inicial-card">
     <div class="header">
      <h2><i class="material-icons">&#xE8DF;</i>AGENDA HOJE ({{data_atual}})</h2>
    </div>
    <div class="body">
      <table class="table table-hover">
        <tbody>
          {% if perms.cadastro.view_transportadora %}
          <tr {% if agenda_hoje.orcamento_venda_hoje %}class="hoje"{% endif %}>
            <td> 
              <a href="{% url 'vendas:listaorcamentovendahojeview' %}">
                <div style="height:100%;width:100%;">
                  <b>{{agenda_hoje.orcamento_venda_hoje}}</b> Orçamentos de venda a vencer hoje 
                </div>
              </a>              
            </td>
          </tr> 
          {% endif %}
          {% if perms.compras.view_orcamentocompra %}
          <tr {% if agenda_hoje.orcamento_compra_hoje %}class="hoje"{% endif %}>
            <td> 
              <a href="{% url 'compras:listaorcamentocomprahojeview' %}">
                <div style="height:100%;width:100%;">
                  <b>{{agenda_hoje.orcamento_compra_hoje}}</b> Orçamentos de compra a vencer hoje 
                </div>
              </a>              
            </td>
          </tr> 
          {% endif %}
          {% if perms.vendas.view_pedidovenda %}
          <tr {% if agenda_hoje.pedido_venda_hoje %}class="hoje"{% endif %}>
            <td> 
              <a href="{% url 'vendas:listapedidovendahojeview' %}">
                <div style="height:100%;width:100%;">
                  <b>{{agenda_hoje.pedido_venda_hoje}}</b> Pedidos de venda com entrega hoje 
                </div>
              </a>              
            </td>
          </tr> 
          {% endif %}
          {% if perms.compras.view_pedidocompra %}
          <tr {% if agenda_hoje.pedido_compra_hoje %}class="hoje"{% endif %}>
            <td> 
              <a href="{% url 'compras:listapedidocomprahojeview' %}">
                <div style="height:100%;width:100%;">
                  <b>{{agenda_hoje.pedido_compra_hoje}}</b> Pedidos de compra com entrega hoje 
                </div>
              </a>              
            </td>
          </tr> 
          {% endif %}
          {% if perms.financeiro.view_lancamento %}
          <tr {% if agenda_hoje.contas_receber_hoje %}class="hoje"{% endif %}>
            <td> 
              <a href="{% url 'financeiro:listacontareceberhojeview' %}">
                <div style="height:100%;width:100%;">
                  <b>{{agenda_hoje.contas_receber_hoje}}</b> Contas a receber
                </div>
              </a>              
            </td>
          </tr> 
          <tr {% if agenda_hoje.contas_pagar_hoje %}class="hoje"{% endif %}>
            <td> 
              <a href="{% url 'financeiro:listacontapagarhojeview' %}">
                <div style="height:100%;width:100%;">
                  <b>{{agenda_hoje.contas_pagar_hoje}}</b> Contas a pagar
                </div>
              </a>              
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="card inicial-card">
   <div class="header">
    <h2><i class="material-icons" style="color:#c2c240;">&#xE85A;</i>ALERTAS ({{data_atual}})</h2>
  </div>
  <div class="body">
    <table class="table table-hover">
      <tbody>
        {% if perms.cadastro.view_transportadora %}
        <tr {% if alertas.produtos_baixo_estoque %}class="alerta"{% endif %}>
          <td> 
            <a href="{% url 'cadastro:listaprodutosbaixoestoqueview' %}">
              <div style="height:100%;width:100%;">
                <b>{{alertas.produtos_baixo_estoque}}</b> Produtos com baixo estoque
              </div>
            </a>              
          </td>
        </tr> 
        {% endif %}
        {% if perms.vendas.view_orcamentovenda %}
        <tr {% if alertas.orcamentos_venda_vencidos %}class="alerta"{% endif %}>
          <td> 
            <a href="{% url 'vendas:listaorcamentovendavencidoview' %}">
              <div style="height:100%;width:100%;">
                <b>{{alertas.orcamentos_venda_vencidos}}</b> Orçamentos de venda vencidos
              </div>
            </a>              
          </td>
        </tr> 
        {% endif %}
        {% if perms.compras.view_orcamentocompra %}
        <tr {% if alertas.orcamentos_compra_vencidos %}class="alerta"{% endif %}>
          <td> 
            <a href="{% url 'compras:listaorcamentocompravencidosview' %}">
              <div style="height:100%;width:100%;">
                <b>{{alertas.orcamentos_compra_vencidos}}</b> Orçamentos de compra vencidos
              </div>
            </a>              
          </td>
        </tr>
        {% endif %}
        {% if perms.vendas.view_pedidovenda %}
        <tr {% if alertas.pedidos_venda_atrasados %}class="alerta"{% endif %}>
          <td> 
            <a href="{% url 'vendas:listapedidovendaatrasadosview' %}">
              <div style="height:100%;width:100%;">
                <b>{{alertas.pedidos_venda_atrasados}}</b> Pedidos de venda atrasados
              </div>
            </a>              
          </td>
        </tr> 
        {% endif %}
        {% if perms.compras.view_pedidocompra %}
        <tr {% if alertas.pedidos_compra_atrasados %}class="alerta"{% endif %}>
          <td> 
            <a href="{% url 'compras:listapedidocompraatrasadosview' %}">
              <div style="height:100%;width:100%;">
                <b>{{alertas.pedidos_compra_atrasados}}</b> Pedidos de compra atrasados
              </div>
            </a>              
          </td>
        </tr> 
        {% endif %}
        {% if perms.financeiro.view_lancamento %}
        <tr {% if alertas.contas_receber_atrasadas %}class="alerta"{% endif %}>
          <td> 
            <a href="{% url 'financeiro:listacontareceberatrasadasview' %}">
              <div style="height:100%;width:100%;">
                <b>{{alertas.contas_receber_atrasadas}}</b> Contas a receber atrasadas
              </div>
            </a>              
          </td>
        </tr> 
        <tr {% if alertas.contas_pagar_atrasadas %}class="alerta"{% endif %}>
          <td> 
            <a href="{% url 'financeiro:listacontapagaratrasadasview' %}">
              <div style="height:100%;width:100%;">
                <b>{{alertas.contas_pagar_atrasadas}}</b> Contas a pagar atrasadas
              </div>
            </a>              
          </td>
        </tr> 
        {% endif %}
      </tbody>
    </table>
  </div>

</div>
</div>

</div>

{% if perms.financeiro.acesso_fluxodecaixa %}
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
          FLUXO DE CAIXA<b style="padding-left:4px;">(DIA {{data_atual}})</b>
        </h2>
        <div class="header-btn">
          <a href="{% url 'financeiro:fluxodecaixaview' %}" class="btn btn-primary"><i class="material-icons">&#xE8A0;</i><span> FLUXO DE CAIXA</span></a>
        </div>
      </div>

      <div class="body lista">
        <table class="table table-bordered lista-table">
          <thead>
            <tr>
              <th>Data</th>
              <th>Saldo inicial</th>
              <th>Entradas</th>
              <th>Saídas</th>
              <th>Lucro/Prejuízo</th>
              <th>Saldo final</th>
            </tr>
          </thead>

          <tbody>
            {% if movimento_dia %}
            <tr>
              <td>{{movimento_dia.format_data_movimento}}</td>
              <td>{{movimento_dia.saldo_inicial}}</td>
              <td>{{movimento_dia.entradas}}</td>
              <td>{{movimento_dia.saidas}}</td>
              <td {%if movimento_dia.valor_lucro_prejuizo < 0 %}style="background-color:#f1b1b1;font-weight:bold;"{% else %}style="background-color:#b3e5b3;font-weight:bold;"{% endif %}>{{movimento_dia.valor_lucro_prejuizo}}</td>
              <td>{{movimento_dia.saldo_final}}</td>
            </tr>
            {% else %}
            <tr>
              <td>{{data_atual}}</td>
              <td>{{saldo}}</td>
              <td>0,00</td>
              <td>0,00</td>
              <td style="background-color:#b3e5b3;font-weight:bold;">0,00</td>
              <td>{{saldo}}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

</div>
</section>


{%endblock%}